* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(246, 247, 248);
    font-family: 'inter';
}

.d-flex-row {
    display: flex;
    flex-direction: row;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none !important;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease-in-out;
    z-index: 2;
    position: relative;
    
}

.logo-mobile {
    display: none;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

.login {
    width: 652px;
    height: 513px;
    background-color: white;
    padding: 35px;
    opacity: 0;
    transition: all 1s ease-in-out;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.login-loaded,
.sign-up-loaded {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out;
}

.headline {
    font-size: 61px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
}

.underline {
    width: 150px;
    height: 3px;
    background-color: rgb(41, 171, 226);
}

form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.login-input {
    display: flex;
    width: 422px;
    height: 51px;
    align-items: center;
    justify-content: center;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 13px 21px;
    gap: 10px;
    margin-bottom: 50px;
}

input {
    width: 100%;
    height: 100%;
    border: unset;
    outline: none;
    font-size: 21px;
}

input::placeholder {
    color: rgba(209, 209, 209, 1);
}

.checkbox {
    width: 80%;
    justify-content: space-evenly;
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
}

.checkbox input {
    height: 16px;
    width: auto;
}

.checkbox p {
    margin: 0;
    font-size: 16px;
}

.checkbox a {
    text-decoration: none;
    color: rgb(41, 171, 226)
}

.checkbox label {
    cursor: pointer;
}

.button-container {
    width: 80%;
    height: 25px;
    justify-content: space-evenly;
    position: relative;
    bottom: -55px;
}

.button-container button {
    width: auto;
    height: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid rgb(42, 54, 71);
    border-radius: 10px;
}

#btn-login {
    cursor: pointer;
    background-color: rgb(42, 54, 71);
    color: white;
    padding-left: 35px;
    padding-right: 35px;
    width: 145px;
    height: 51px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    border: 1px solid rgb(42, 54, 71);
    border-radius: 8px;
    position: absolute;
    bottom: 35px;
    left: 155px;
}

#btn-login:hover {
    background-color: #29ABE2;
    border: 1px solid #29ABE2;
    box-shadow: 0px 3px 2px 0px lightgrey;
}

.wpw {
    position: absolute;
    bottom: 168px;
    left: 116px;
    color: rgb(255,64,87);
    font-style: italic;
    font-size: 14px;
    font-weight: 500;
}

#btn-guest-login {
    cursor: pointer;
    background-color: white;
    color: rgb(42, 54, 71);
    width: 161px;
    height: 51px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    border: 1px solid rgb(42, 54, 71);
    border-radius: 8px;
    position: absolute;
    bottom: 35px;
    right: 155.5px;
    text-decoration: none;
    display: grid;
    place-items: center;
}

#btn-guest-login:hover {
    color: #29ABE2;
    border: 2px solid #29ABE2;
    box-shadow: 0px 3px 2px 0px lightgrey;
}

.sign-up-container {
    position: absolute;
    top: 67px;
    right: 114px;
    opacity: 0;
    place-items: center;
    z-index: 3;
}

.sign-up-container p {
    font-weight: 400;
    font-size: 21px;
    text-decoration: none;
    color: black;
}

.sign-up-container label {
    background-color: rgb(42, 54, 71);
    color: white;
    width: 91px;
    height: 51px;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid rgb(42, 54, 71);
    border-radius: 8px;
    margin-left: 25px;
    cursor: pointer;
    display: grid;
    place-items: center;
    font-style: normal;
    font-family: sans-serif;
}

.sign-up-container label:hover {
    background-color: #29ABE2;
    border: 1px solid #29ABE2;
    box-shadow: 0px 3px 2px 0px lightgrey;
}

.sign-up-area {
    width: 652px;
    height: 559px;
    background-color: white;
    padding: 35px;
    transition: all 1s ease-in-out;
    border-radius: 30px;
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 23px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

#back-arrow {
    position: absolute;
    left: 37.17px;
    top: 41.51px;
    cursor: pointer;
}

#btn-sign-up {
    cursor: pointer;
    background-color: rgb(42, 54, 71);
    color: white;
    width: 145px;
    height: 51px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    border: 1px solid rgb(42, 54, 71);
    border-radius: 8px;
    position: absolute;
    bottom: 35px;
    left: auto;
    right: auto;
}

#btn-sign-up:hover {
    background-color: #29ABE2;
    border: 1px solid #29ABE2;
    box-shadow: 0px 3px 2px 0px lightgrey;
}

#check-for-sign-up:checked~.login-container .login {
    display: none !important;
}

#check-for-sign-up:checked~.sign-up-container {
    display: none;
}

#check-for-sign-up:checked~.login-container .sign-up-area {
    display: flex;
}

.forgotten-password-area {
    width: 826px;
    height: 462px;
    background-color: white;
    padding: 35px;
    transition: all 1s ease-in-out;
    border-radius: 30px;
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 23px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.forgotten-password-area p {
    font-size: 21px;
    font-weight: 400;
    width: 656px;
    height: 50px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 35px;
}

#check-for-forgotten-password:checked~.login-container .login {
    display: none !important;
}

#check-for-forgotten-password:checked~.sign-up-container {
    display: none;
}

#check-for-forgotten-password:checked~.login-container .forgotten-password-area {
    display: flex;
}

#btn-email {
    cursor: pointer;
    background-color: rgb(42, 54, 71);
    color: white;
    width: 264px;
    height: 51px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    border: 1px solid rgb(42, 54, 71);
    border-radius: 8px;
    position: absolute;
    bottom: 44px;
    left: auto;
    right: auto;
}

#btn-email:hover {
    background-color: #29ABE2;
    border: 1px solid #29ABE2;
    box-shadow: 0px 3px 2px 0px lightgrey;
}

.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.popup {
    width: 424px;
    height: 74px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    color: white;
    padding: 0px 20px;
    animation: mymove 225ms 1;
}

@keyframes mymove {
    0% {
        transform: translateY(1000px);
    }

    100% {
        transform: translateY(0px);
    }
}

.popup-signup {
    width: 300px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    color: white;
    padding: 0px 16px;
    animation: mymove 225ms 1;
}

.popup-signup img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.btn-popup-ok {
    cursor: pointer;
    background-color: white;
    color: rgb(42, 54, 71);
    width: 100px;
    height: 51px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    border: 1px solid rgb(42, 54, 71);
    border-radius: 8px;
    text-decoration: none;
    display: grid;
    place-items: center;
    margin-bottom: 8px;
}

.popup p {
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
}

.reset-password-area {
    width: 826px;
    height: 537px;
    background-color: white;
    padding: 35px;
    transition: all 1s ease-in-out;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 23px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

#btn-continue {
    cursor: pointer;
    background-color: rgb(42, 54, 71);
    color: white;
    width: 264px;
    height: 51px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    border: 1px solid rgb(42, 54, 71);
    border-radius: 8px;
    position: absolute;
    bottom: 44px;
    left: auto;
    right: auto;
}

#btn-continue:hover {
    background-color: #29ABE2;
    border: 1px solid #29ABE2;
    box-shadow: 0px 3px 2px 0px lightgrey;
}

.icon {
    position: relative;
    margin: 0;
    width: 100px;
    height: 121px;
    top: 80px;
    left: 77px;
}

#reset-password-area-mobile-p {
    display: none;
    font-size: 21px;
    margin-bottom: 0;
    margin-top: 35px;
}

#reset-password-area-desktop-p {
    font-size: 21px;
    margin-bottom: 0;
    margin-top: 35px;
}


@media (max-width: 680px) {
    .start {
        background-color: #2A3647;
    }
    .logo-desktop {
        display: none;
    }

    .logo-mobile {
        display: block;
        margin-bottom: 2.5em;
    }
    .login {
        height: 530px;
        width: 320px;
        border-radius: 30px;
        padding: 35px 0px 35px 0px;

    }
    .wpw {
        bottom: 240px;
        left: 30px;
    }
    .headline {
        font-size: 37px;
    }

    .login-input {
        height: 41px;
        width: 280px;
        border-radius: 10px;
        padding: 5px 21px 5px 21px;
        margin-bottom: 30px;
    }

    .sign-up-container {
        position: relative;
        justify-content: center;
        margin-top: -70px;
        top: unset;
        right: unset;
        z-index: 3;
    }

    .checkbox {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    #checkbox-checklabel {
        margin-bottom: 15px;
    }

    #btn-login {
        bottom: 80px;
        left: 84px;
        width: 161px;
    }

    #btn-guest-login {
        right: 75px;
        bottom: 15px;
    }

    .sign-up-area {
        height: 530px;
        width: 320px;
        border-radius: 30px;
        padding: 35px 0px 35px 0px;
    }

    #back-arrow {
        left: 13.17px;
        top: 14.51px;
        z-index: 2;
    }

    .forgotten-password-area {
        height: 530px;
        width: 320px;
        border-radius: 30px;
        padding: 35px 0px 35px 0px;
    }

    .forgotten-password-area .headline {
        font-size: 40px;
        text-align: center;
    }

    .forgotten-password-area p {
        width: 300px;
    }

    .forgotten-password-area form {
        margin-top: 85px;
    }

    .reset-password-area {
        height: 530px;
        width: 320px;
        border-radius: 30px;
        padding: 35px 0px 35px 0px;
        top: 60px;
    }
    .icon {
        top: 37px;
        left: 38px;
        width: 64px;
        height: 78px;
    }
    .reset-password-area .headline {
        font-size: 40px;
        text-align: center;
    }

    #reset-password-area-desktop-p {
        display: none;
    }

    #reset-password-area-mobile-p {
        display: block;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    #btn-continue {
        width: 180px;
    }
    .popup {
        width: 300px;
        text-align: center;
    }
}
@media (max-width: 400px) {
    .forgotten-password-area {
        width: 280px;
    }
    .forgotten-password-area p {
        width: 280px;
    }
    .forgotten-password-area .login-input {
        width: 260px;
    }
    
}


@media (max-width: 680px) and (max-height: 640px) {
    .icon {
        top: 25px;
    }
    .reset-password-area {
        height: 500px;
    }
    #btn-continue {
        bottom: 24px;
    }
}

#label-visibile {
    display: none;
}

#check-for-password-icon:checked ~ .login-container #unvisible {
    display: none;
}
#check-for-password-icon:checked ~ .login-container #visible {
    display: block !important;
}
#check-for-password-icon:checked ~ .login-container #label-visibile {
    display: block !important;
}