body {
    background-color: #F5F5F5;
    margin: 0;
}

#modal {
    background-color: #F5F5F5;
    margin-top: 85px;
    margin-bottom: 80px;
    padding-top: 35px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.close-icon {
    cursor: pointer;
    z-index: 2;
}

#close-icon,
#arrow-icon {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    height: 16px;
    width: 16px;
}

#taskview-window {
    border-radius: 30px;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.modalview {
    width: 90%;
}

.modaledit {
    width: 90%;
}

.title {
    font-weight: 700;
    font-size: inherit;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.top img {
    height: 16px;
    width: 16px;
}

#tasktitle {
    font-size: 36px;
    font-weight: 700;
    margin-top: 32px;
    line-height: 120%;
    margin-bottom: 25px;
}

#taskdescription {
    margin-bottom: 25px;
    line-height: 120%;
}

.edit-btn {
    width: 48px;
    height: 48px;
}

#okbtncontainer,
#editbtncontainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#okbtncontainer {
    margin-top: 32px;
}

.edit-btn,
.ok-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2A3647;
    border-radius: 10px;
    z-index: 10;
    cursor: pointer;
}

.edit-btn:hover,
.ok-button:hover {
    background: #29ABE2;
}

.ok-button {
    width: 75px;
    height: 25px;
    padding: 14px 10px;
    font-size: 21px;
    font-weight: 700;
    gap: 10px;
    color: white
}

.delete-btn {
    width: 104px;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    gap: 10px;
    padding: 14px 10px;
    cursor: pointer;
    margin-right: 10px;
}

.delete-btn {
    border: 1px solid #2A3647;
}

.delete-btn .btn-icon {
    height: 14px;
}

.delete-btn:hover {
    color: #29ABE2;
    border: 1px solid #29ABE2;
}

.delete-btn:hover>.btn-icon {
    filter: invert(67%) sepia(24%) saturate(5054%) hue-rotate(165deg) brightness(93%) contrast(91%);
}

.flexgap {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-bottom: 29px;
}

.edit-btn img {
    height: 30px;
    width: 21px;
}

#taskcategory,
#priority {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 16px;
    padding: 8px;
    border-radius: 10px;
    color: white;
}

#taskcategory {
    font-size: 21px;
    padding: 11px 21px;
}

#priority {
    width: 104px;
    gap: 10px;
    user-select: none;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

#priority img {
    width: 18px;
}

.prio1 {
    background-color: #FF3D00;
}

.prio2 {
    background-color: #FFA800;
}

.prio3 {
    background-color: #7AE229;
}

.assigneetitle {
    font-weight: 700;
    margin-bottom: 25px;
}

.assignee {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 13px;
}

.intials {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    color: white;
    font-size: 16px;
    ;
    border-radius: 100px;
    padding: 8px;
}

.subtasks-title {
    font-weight: 700;
    margin-bottom: 15px;
}

.subtask .icon {
    height: 17px;
    width: 14px;
}


#subtasks-list {
    margin-bottom: 10px;
}

#subtasksview-list {
    margin-bottom: 25px;
}

#editformtop {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

#editformtop h2 {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

/* Form specific */
#editTaskForm .inputtitle {
    margin-top: 10px
}

@media (min-width: 767px) {

    #editTaskForm {
        font-size: 21px;
    }

    #modal {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 99;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        margin-top: 0;
    }

    #taskview-window {
        background-color: #FFFFFF;
        padding: 50px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        position: relative;
        font-family: 'Inter', sans-serif;
        font-size: 21px;
        max-height: 85vh;
    }

    .modalview {
        width: 636px;
    }

    .modaledit {
        width: 55%;
    }


    .scroll {
        overflow-y: auto;
        scroll-behavior: smooth;

    }

    .scroll::-webkit-scrollbar {
        width: 4px;
    }

    .scroll::-webkit-scrollbar-track {
        background-color: transparent;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .scroll::-webkit-scrollbar-thumb {
        background-color: #2A3647;
        border-radius: 30px;
    }

    .edit-btn {
        bottom: 25px;
        right: 50px;
    }

    #tasktitle {
        font-size: 47px;
    }

    #editformtop h2 {
        font-size: 47px;
    }

    #taskview-window {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        right: -75%;
        -webkit-animation: slide 0.25s forwards;
        animation: slide 0.25s forwards;
    }

    @-webkit-keyframes slide {
        100% {
            right: 0;
        }
    }

    @keyframes slide {
        100% {
            right: 0;
        }
    }
}

@media (min-width: 1200px) {
    #editTaskForm {
        display: grid;
        grid-template-columns: 47% 1px 47%;
        grid-template-rows: auto auto auto auto;
        column-gap: 30px;
        padding-right: 15px;
    }

}

@media (min-width: 2000px) {
    #addTaskForm {
        grid-template-columns: 48% 1px 48%;
    }

    #addTaskForm,
    #edittaskform {
        font-size: 21px;
    }

    .item7 {
        margin-top: -122px;
    }
}