<div class="footer">
    <div class="footerNav">
        <div class="navItem navSelectedFooterSummary" onclick="selectSite('../html/summary.html')">
            <div class="">
                <img src="../assets/img/summary.png">
            </div>
            <div>Summary</div>
        </div>
        <div class="navItem navSelectedFooterBoard" onclick="selectSite('../html/board.html')">
            <div class="">
                <img src="../assets/img/board.png">
            </div>
            <div>Board</div>
        </div>
        <div class="navItem navSelectedFooterTasks" onclick="selectSite('../html/addtask.html')">
            <div class="">
                <img src="../assets/img/add-task.png">
            </div>
            <div>Add Tasks</div>
        </div>
        <div class="navItem navSelectedFooterContacts" onclick="selectSite('../html/contacts.html')">
            <div class="">
                <img src="../assets/img/contacts.png">
            </div>
            <div>Contacts</div>
        </div>
    </div>
</div>