<div class="sidbarNav">

    <div class="logoPosition">
        <a href="../html/summary.html">
            <img class="logoSizeDesk" src="../assets/img/Logo/Join-logo-white.png">
        </a>
    </div>

    <div class="nav">
        <a href="../html/summary.html">
            <div id="linkSummary" class="navItem navSelectedSidebarSummary" onclick="selectSummary()">
                <div class="navWidth">
                    <img id="imgSummary" class="iconWidth" src="../assets/img/summary.png">
                </div>
                <div>Summary</div>
            </div>
        </a>
        <a href="../html/board.html">
            <div id="linkBoard" class="navItem navSelectedSidebarBoard" onclick="selectBoard()">
                <div class="navWidth">
                    <img id="imgBoard" class="iconWidth" src="../assets/img/board.png">
                </div>
                <div>Board</div>
            </div>
        </a>
        <a href="../html/addtask.html">
            <div id="linkTasks" class="navItem navSelectedSidebarTask" onclick="selectTasks()">
                <div class="navWidth">
                    <img id="imgTasks" class="iconWidth" src="../assets/img/add-task.png">
                </div>
                <div>Add Task</div>
            </div>
        </a>
        <a href="../html/contacts.html"></a>
        <div id="linkContacts" class="navItem navSelectedSidebarContact" onclick="selectSite('../html/contacts.html')">
            <div class="navWidth">
                <img id="imgContacts" class="iconWidth" src="../assets/img/contacts.png">
            </div>
            <div>Contacts</div>
        </div>
        </a>
    </div>

    <div class="infos">
        <a href="../html/legal_notice.html">
            <div id="linkImpressum" class="navItem infoSites navSelectedSidebarImpressum" onclick="selectLegalNotice()">
                <div class="navWidth">
                    <img id="imgImprint" src="../assets/img/infoIcon.png">
                </div>
                <div>Legal Notice</div>
            </div>
        </a>
    </div>

</div>